<div class="main about">
    For this project, we asked people to contribute their photos and stories via <a href="https://witness.theguardian.com/assignment/54d891e9e4b045255634008f">GuardianWitness</a>, our platform for readers' content, or a secure form for those who wished to remain anonymous because of the sensitive nature of their experience. Some of the stories were told to Guardian reporters and others were submitted by organisations who work with immigrants. The stories are told in the readers' own words with some minor editing for style and the occasional addition of stock images to illustrate stories where no picture was included.
</div>


    <footer>
        <div id="footerContent">
            <ul class="colophon u-cf">
                <li class="colophon__item"><a data-link-name="uk : footer : membership" href="https://membership.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_MEMBERSHIP">
                membership</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : jobs" href="http://jobs.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_JOBS">
                jobs</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : soulmates" href="https://soulmates.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SOULMATES">
                dating</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : masterclasses" href="/guardian-masterclasses?INTCMP=NGW_FOOTER_UK_GU_MASTERCLASSES">
                masterclasses</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : subscribe" target="_blank" href="http://subscribe.theguardian.com/?INTCMP=NGW_FOOTER_UK_GU_SUBSCRIBE">
                subscribe</a></li>
                <li class="colophon__item"><a data-link-name="all topics" href="/index/subjects/a">all topics</a></li>
                <li class="colophon__item"><a data-link-name="all contributors" href="/index/contributors">all contributors</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : about us" target="_blank" href="/info">
                about us</a></li>
                <li class="colophon__item"><a data-link-name="uk : footer : contact us" target="_blank" href="/help/contact-us">
                contact us</a></li>
                <li class="colophon__item"><a data-link-name="complaints" href="/info/complaints-and-corrections">
                complaints &amp; corrections</a></li>
                <li class="colophon__item"><a data-link-name="terms" href="/help/terms-of-service">terms &amp; conditions</a></li>
                <li class="colophon__item"><a data-link-name="privacy" href="/help/privacy-policy">privacy policy</a></li>
                <li class="colophon__item"><a data-link-name="cookie" href="/info/cookies">cookie policy</a></li>
                <li class="colophon__item"><a data-link-name="securedrop" href="https://securedrop.theguardian.com/">securedrop</a></li>
            </ul>
            <div class="l-footer__misc">
            <div class="really-serious-copyright">© 2015 Guardian News and Media Limited or its affiliated companies. All&nbsp;rights&nbsp;reserved.</div>
            </div>
        </div>
    </footer>
