<% if (isWeb !== false) { %>
	<div id="guardianNav">
	    <nav id="navContainer">
	        <a href="http://theguardian.com" id="backtohome"><img id="homeLogo" src="@@assetPath@@/imgs/homeLogo.svg" /><span>home</span></a>
	        <a href="http://theguardian.com"><img id="guardianLogo" src="@@assetPath@@/imgs/guardianLogo.png" /></a>
	    </nav>
	</div>
<% } %>
<div class="header">
	<div class="container">
		<h1><%= headingText.title %></h1>
		<h2><%= headingText.subheading %></h2>
		<div class="witness">Contributions from <a href="http://witness.theguardian.com" class="witness__link"><span class="logo"><span class="logo--guardian">guardian</span>witness</span></a></div>
	</div>
</div>