<div class="overlay__nav">
	<a href="#list" class="nav-icon nav-icon--close">
		<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" ><path class="icon" d="M7.5 9L1 2l1-1 7 6.5L16 1l1 1-6.5 7 6.5 7-1 1-7-6.5L2 17l-1-1 6.5-7z"/></svg>
	</a>
	<div class="overlay__progress"><%= data.position + ' / 100' %></div>
	<a <% if (data.nextItem) { %>href="#item-<%= data.nextItem %>"<% } %> class="nav-icon nav-icon--next <% if (!data.nextItem) { %>nav-icon--dimmed<% } %> ">
		<svg width="23" height="23" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><title/><desc/><g fill="none"><path d="M23 11.5L12.704 21.6l-.96-.96L19.8 12H0v-2h19.8L11.745.96l.96-.96L23 10.5v1" class="icon"/><path d="M11 32.313C-.75 32.313-10.31 22.753-10.31 11c0-11.75 9.56-21.312 21.313-21.312 11.752 0 21.313 9.56 21.313 21.312S22.753 32.313 11 32.313M11-11c-12.15 0-22 9.85-22 22s9.85 22 22 22 22-9.85 22-22-9.85-22-22-22" fill="none"/></g></svg>
	</a>
	<a <% if (data.prevItem) { %>href="#item-<%= data.prevItem %>"<% } %> class="nav-icon nav-icon--prev<% if (!data.prevItem) { %>nav-icon--dimmed<% } %>">
		<svg width="23" height="23" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><title/><desc/><g fill="none"><path d="M0 11.5l10.296 10.1.96-.96L3.2 12H23v-2H3.2L11.255.96l-.96-.96L0 10.5v1" class="icon"/><path d="M11 32.313C-.75 32.313-10.31 22.753-10.31 11c0-11.75 9.56-21.312 21.313-21.312 11.752 0 21.313 9.56 21.313 21.312S22.753 32.313 11 32.313M11-11c-12.15 0-22 9.85-22 22s9.85 22 22 22 22-9.85 22-22-9.85-22-22-22" fill="none"/></g></svg>
	</a>
</div>
<div class="overlay__main">
	<div class="overlay__header">
		<span class="hide-mobile">Immigrants in their own words </span><a href="#list"><span class="headline-highlight"><span class="show-mobile">«</span> 100 stories</span></a>
		<div class="mobile-nav show-mobile">
			<a <% if (data.prevItem) { %>href="#item-<%= data.prevItem %>"<% } %> class="nav-icon nav-icon--prev <% if (!data.prevItem) { %>nav-icon--dimmed<% } %>">
				<svg width="23" height="23" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><title/><desc/><g fill="none"><path d="M0 11.5l10.296 10.1.96-.96L3.2 12H23v-2H3.2L11.255.96l-.96-.96L0 10.5v1" class="icon"/><path d="M11 32.313C-.75 32.313-10.31 22.753-10.31 11c0-11.75 9.56-21.312 21.313-21.312 11.752 0 21.313 9.56 21.313 21.312S22.753 32.313 11 32.313M11-11c-12.15 0-22 9.85-22 22s9.85 22 22 22 22-9.85 22-22-9.85-22-22-22" fill="none"/></g></svg>
			</a>
			<a <% if (data.nextItem) { %>href="#item-<%= data.nextItem %>"<% } %> class="nav-icon nav-icon--next <% if (!data.nextItem) { %>nav-icon--dimmed<% } %> ">
				<svg width="23" height="23" viewBox="0 0 23 23" xmlns="http://www.w3.org/2000/svg"><title/><desc/><g fill="none"><path d="M23 11.5L12.704 21.6l-.96-.96L19.8 12H0v-2h19.8L11.745.96l.96-.96L23 10.5v1" class="icon"/><path d="M11 32.313C-.75 32.313-10.31 22.753-10.31 11c0-11.75 9.56-21.312 21.313-21.312 11.752 0 21.313 9.56 21.313 21.312S22.753 32.313 11 32.313M11-11c-12.15 0-22 9.85-22 22s9.85 22 22 22 22-9.85 22-22-9.85-22-22-22" fill="none"/></g></svg>
			</a>
		</div>
	</div>
	<% if (data.updates[0].hasOwnProperty('image')) { %>
		<div class="overlay__image overlay__image--<%= data.updates[0].image.orientation %>"/ style="background-image: url('<%= data.updates[0].image.mediumoriginalaspectdouble %>');"></div>
	<% } %>
	<div class="overlay__content <% if (data.updates[0].hasOwnProperty('image')) { %>overlay__content--<%= data.updates[0].image.orientation %> <% } %>">
		<div class="overlay__headline"><%= data.headline %></div>
			<div class="overlay__social">
				<a href="https://www.facebook.com/sharer/sharer.php?u=<%= encodeURIComponent(window.location.href) %>" target="_blank" class="social-icon facebook" data-link-name="social facebook voices-modal"><img src="@@assetPath@@/imgs/share-facebook.svg"/></a>
				<a href="https://twitter.com/intent/tweet?text=<%= encodeURIComponent('Immigrants in their own words: "' + data.headline + '" @guardian') %>&url=<%= encodeURIComponent(window.location.href) %>" target="_blank" class="social-icon twitter" data-link-name="social twitter voices-modal"><img src="@@assetPath@@/imgs/share-twitter.svg"/></a>
				<a href="mailto:?subject=<%= encodeURIComponent('Immigrants in their own words: 100 voices') %>&body=<%= encodeURIComponent(window.location.href) %>" target="_blank" class="social-icon email" data-link-name="social email voices-modal"><img src="@@assetPath@@/imgs/share-email.svg"/></a>
			</div>
		<hr/>
		<div class="overlay__body-text">
			<%= data.updates[0].body.replace(/\n/g, "<br/>") %>
		</div>
	</div>
</div>